<html>
    <head>
        <title>Sudoguy's blog</title>
    </head>

    <body>
        <div>
            <h1><a href="">Django girls blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014</p>
            <h2><a href="">My first post</a></h2>
            <p>lorem ipsum saddsf sdfasdf asdfad f df df df dsasdfasdfasd fads</p>
        </div>

        <div>
            <p>published: 14.06.2014</p>
            <h2><a href="">My second post</a></h2>
            <p>lorem ipsum saddsf sdfasdf asdfad f df df df dsasdfasdfasd fads</p>
        </div>
    </body>
</html>